body {background-color: grey;}

a { color: orange;

font-size: 33px;}

nav { background-color: darkcyan;

    display: flex; 

    justify-content: space-evenly; }

/*section { background-color: purple;

    border:10px;

    max-width:700px;

    max-height: 1000px;

    margin: auto;

    align-items: center;

    justify-content:center;}*/


section  { display: flex;
    flex-direction: column;
    align-items: center;

}

