body { background-color: grey;}

a { color: orange; 

font-size:33px;}

.Cyclops 




{ display: flex;
    flex-direction: column;
    align-items: center;

}

   
    

p { font-size: 30px;

font-family: 'Satisfy', cursive;}


nav { background-color: darkcyan;

height:50px;

display: flex; 

justify-content: space-evenly;}