body {background-color: grey;}

a { color:orange;

font-size: 33px;}

nav { background-color: darkcyan;

    display: flex; 

    justify-content: space-evenly;}



    h1{ text-align: center
        ;}

    


.JeanGrey { display: flex;
flex-direction: column;
align-items: center;}


    .Beast{ display: flex;
        flex-direction: column;
        align-items: center;
    
        }

.Storm {

    display: flex;
flex-direction: column;
align-items: center;

} 

/*section { background-color: purple;

    border:10px;

    max-width:700px;

    margin: auto;

    align-items: center;

    justify-content:center; }

    h1 { text-align: center;}

    h2{ text-align: center;  
    
    
    /*isplay:inline-block;

    position: fixed;
    
    left: 35%; */

    